<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:background="#008c00"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
  <LinearLayout
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:id="@+id/dialog"
    android:paddingTop="0dp"
    android:paddingBottom="0dp"
    android:paddingLeft="0dp"
    android:paddingRight="0dp"
    android:background="#e60000">
  <Button
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:text="Back"
      android:textSize="40dp"
      local:MvxBind="Click DialogClick" />
  </LinearLayout>
</LinearLayout>
