<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"> 
  <LinearLayout
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:background="#fff"
    android:layout_height="50dp"/>
  <HorizontalScrollView
    android:layout_width="wrap_content"
    android:id="@+id/scroll"
    android:layout_height="match_parent">
    <RelativeLayout
      android:layout_width="wrap_content"
      android:layout_height="wrap_content">
      <LinearLayout
        android:orientation="vertical"
        android:layout_width="300dp"
        android:id="@+id/firstL"
        android:layout_alignParentLeft="true"
        android:background="#2d7d4e"
        android:layout_height="200dp"/>
      <LinearLayout
        android:orientation="vertical"
        android:layout_width="300dp"
        android:id="@+id/secondL"
        android:layout_toRightOf="@+id/firstL"
        android:background="#d37d4e"
        android:layout_height="200dp"/>
      <LinearLayout
        android:orientation="vertical"
        android:layout_width="300dp"
        android:id="@+id/thirdL"
        android:layout_toRightOf="@+id/secondL"
        android:background="#de6f98"
        android:layout_height="200dp"/>    
    </RelativeLayout>
  </HorizontalScrollView>
  <LinearLayout
  android:orientation="vertical"
  android:layout_width="match_parent"
  android:background="#fff"
  android:layout_height="50dp"/>
</LinearLayout>
